<div class="container">
  <div class="row text-center">
    <div class="col">
        <div class="col-md-2"></div>
        <button class="col-sm-2 btn btn-secondary" [routerLink]="['/Home']">Home</button>
        <button class="col-sm-2 btn btn-secondary" [routerLink]="['/Mine']">Mine Coins</button>
        <button class="col-sm-2 btn btn-secondary" [routerLink]="['/Buy']">Buy Coins</button>
        <button class="col-sm-2 btn btn-secondary" [routerLink]="['/Sell']">Sell Coins</button>
        <button class="col-sm-2 btn btn-secondary" [routerLink]="['/Ledger']">See Ledger</button>
    </div>
  </div>
  <br>
</div>

<router-outlet></router-outlet>
